










.background{
   
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    /* background-color: #9AD4E4; */
   
     /* text-align: center; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    */
}

.community-heading{
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
    
    width: 250px;
    height: 250px;
    border-radius: 25px;
    background-color:whitesmoke; 
    border:1px solid lightseagreen;
    color:black;
    margin-bottom: 50px;
    margin-left:25px;
    margin-right: 25px;
    box-shadow: 5px 10px 8px 10px #888888;
   
  
} 



.card-div{
    display:flex;
    flex-direction: column;


}


.card h3{
    padding:20px;

}
.card-img{
padding-bottom:20px;
}

.readbtn{
    width:70px;
    height:70px;
   
    text-align: center;
    cursor: pointer;
    /* outline: none; */
    border-radius: 50%;
    background-color:#5CE1E6;
    border-color:#1F4E5A;
}

.readbtn:hover{
    background-color: #1F4E5A;
    color: white;
}