

.login-container{
    color:teal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
}


.login-h{
    font-family: popins;
    padding-top:20px;
    padding-bottom: 30px;
    
}

.login-h span{
    color:#1F4E5A;
    cursor:pointer;
    
}



.form-div{
    
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: 40px;
    margin-bottom: 40px;


}

.email-textfield,
.password-textfield{
    margin-top: 20px;
    margin-bottom: 20px;

}


.login-btn{
     color: "#1F4E5A";
     background-color:"#9AD4E4"
}







